
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <h1>Header</h1>
    <nav>
        <ul>
            <% if(user){ %>
                <li><a href="/">Home</a></li>
                <li><a href="/">Posts</a></li>
            <li><a href="/auth/register">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <%}else{ %>
                <li><a href="/">Home</a></li>
                <li><a href="/">Posts</a></li>
                <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
          <%  }%>

            
            

            

        </ul>
    </nav>
</body>
</html>