body{
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}
#blog {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: rgb(242, 206, 153);
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.related-articles{
    background-color: rgb(224, 199, 166);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.related-articles h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.related-articles ul{
    list-style: circle;
    margin-bottom: 8px;
}

/* link pseudo logic */

.related-articles a:link{
    color: rgb(10, 8, 6);
    text-decoration: none;

}
.related-articles a:visited{
    color: rgba(124, 31, 53, 0.756);
    text-decoration: none;

}
.related-articles a:hover{
    color: rgb(243, 109, 52);
    text-decoration: none;
    border-bottom: 2px solid blueviolet;

}
.related-articles a:active{
    color: rgb(37, 46, 221);
    text-decoration: none;

}