body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    line-height: 1.6;
}

#blog-post{
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
h1{
    font-size: 42px;
    color: #444;
    margin-top: 20px;

}
.author{
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}
p{
    margin-bottom: 25px;
    color: #333;
    background-color: rgb(244, 219, 187);
    height: 50px;
}
/* type logic */

p:empty{
    display: none;
}
p:not(.special),
div:not(.special){
    background-color: white;
}
:where(p, div).author{
    background-color: burlywood ;
    font-size: 18px;
    margin-bottom: 40px;
}
.intro{
    color: #444;
    font-size: bold;
}
.tags{

    display: flex;
    gap:15px;
    margin-top: 25px;
}
.tags span{
    background-color: rgb(169, 127, 64);
    color: white;
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 14px;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}